<div class="panel-header panel-header-lg center-header">
    <header>예정된 이벤트</header>
</div>
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">EVENTS</h5>
                    <h4 class="card-title">이벤트</h4>
                </div>
                <div class="card-body">
                    <div id="calendar"></div>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-primary btn-block">이벤트 등록</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#calendar').fullCalendar({ lang: 'ko' });
</script>