<div class="panel-header panel-header-lg center-header">
    <header><%= params[:keyword] %>에 대한 검색 결과</header>
</div>
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">From Posts</h5>
                    <h4 class="card-title">게시물에서</h4>
                </div>
                <div class="card-body">
                    
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">From members</h5>
                    <h4 class="card-title">멤버 중에서</h4>
                </div>
                <div class="card-body">
                    
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">From events</h5>
                    <h4 class="card-title">이벤트 중에서</h4>
                </div>
                <div class="card-body">
                    
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">From homeworks</h5>
                    <h4 class="card-title">과제 중에서</h4>
                </div>
                <div class="card-body">
                    
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
    </div>
</div>