:root {
  /* generic */
  --gutterSm: 0.4rem;
  --gutterMd: 0.8rem;
  --gutterLg: 1.6rem;
  --gutterXl: 2.4rem;
  --gutterXx: 7.2rem;
  --colorPrimary400: #7e57c2;
  --colorPrimary600: dimgrey;
  --colorPrimary800: #4527a0;
  --fontFamily: "Montserrat", sans-serif;
  --fontSizeSm: 1.2rem;
  --fontSizeMd: 1.6rem;
  --fontSizeLg: 2.1rem;
  --fontSizeXl: 2.8rem;
  --fontSizeXx: 3.6rem;
  --lineHeightSm: 1.1;
  --lineHeightMd: 1.8;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
  
  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeLg);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 50%;
  --labelTransformedPosY: calc(
    (var(--labelDefaultPosY)) - 
    (var(--inputPaddingV) * var(--labelScaleFactor)) - 
    (var(--inputFontSize) * var(--inputLineHeight))
  );
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

input {
  font-weight: 100 !important;
}

.input-text, .form-inputs input {
  display: block;
  margin: 0;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
  margin-bottom: .5rem;
}

.input-text:focus, .form-inputs input:focus {
  outline: none;
  box-shadow: .2rem .1rem 1.2rem var(--colorPrimary600);
}

.input-label, .form-inputs label {
  display: block;
  position: absolute;
  top: 5rem;
  left: 1rem;
  color: #311B92;
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  opacity: 0;
  transform: 
    translate3d(0, var(--labelDefaultPosY), 0)
    scale(1);
  transform-origin: 0 0;
  transition:
    opacity var(--inputTransitionDuration) var(--inputTransitionTF),
    transform var(--inputTransitionDuration) var(--inputTransitionTF),
    visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
    z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
}

.input-text:placeholder-shown + .input-label, .form-inputs input:placeholder-shown + label {
  visibility: hidden;
  z-index: -1;
}

.input-text:not(:placeholder-shown) + .input-label,
.input-text:focus:not(:placeholder-shown) + .input-label,
.form-inputs input:not(:placeholder-shown) + label, 
.form-inputs input:focus:not(:placeholder-shown) + label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform:
    translate3d(0, var(--labelTransformedPosY), 0)
    scale(var(--labelScaleFactor));
  transition:
    transform var(--inputTransitionDuration),
    visibility 0ms,
    z-index 0ms;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    color: white !important;
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-block;
    box-shadow: 0 0 10px rgba(36,36,36,.8);
}

.inputfile:focus + label,
.inputfile + label:hover {
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

form.new_reply {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  & input[type=text] {
      line-height: calc(var(--inputLineHeight)/3);
      margin-bottom: 0;
  }
}

.reply {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .4rem;
  & .reply-body {
    width: 100%;
    & header {
      font-weight: 500;
      font-size: 1rem;
    }
  }  
}

.fc-time {
  display: none;
}

.fc-title {
  font-size: 1.2rem;
  color: white;
}

.card-body {
  position: relative;
  min-height: 50vh;
}